@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    height: 80px;
    display: flex;
    background-color: white;
    position: relative;
}

img {
    width: 100%;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

i {
    cursor: pointer;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

h1 {
    font-size: 56px;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.btn {
    background-color: #5E17EB;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
}

.logo {
    width: 160px;
}

.purple {
    color: #5E17EB;
}

.click {
    transition: all 300ms ease;
    cursor: pointer;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}


/* 

                                        NAVIGATION

*/

nav {
    background-color: rgba(115, 66, 214, 0.1)
}

a {
    color: black;
}

a:active {
    color: black;
}

.nav__container {
    width: 100%;
    max-width: 2400px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__row {
    text-align: center;
}

.nav__link {
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    padding: 36px;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 36px;
}

.icon2 {
    border-radius: 50%;
    border: none;
    background-color: #5E17EB;
    color: white;
    z-index: 100;
    box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.28);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
}

.raon {
    z-index: 100;
    box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.28);
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--purple:after {
    background-color: #7342d6;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

.signin {
    cursor: pointer;
    font-size: 16px;
}

.pfp {
    border-radius: 50%;
    width: 36px;
}


/* 

                        LANDING

*/

#Landing {
    padding-top: 200px;
    min-height: 100vh;
    background-color: rgba(115, 66, 214, 0.1);
}

.mail__btn {
    width: 70px;
    height: 70px;
    padding-top: 6px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: #5E17EB;
    color: white;
    position: fixed;
    bottom: 32px;
    right: 40px;
    z-index: 100;
    box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.28);
}

input {
    outline: none;
    border: 3px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: all 500ms ease;
    background-color: rgba(233, 226, 248, 0.1)
}

input:focus,
textarea:focus {
    border-color: #5E17EB;
}

.btn__location {
    display: flex;
    align-items: center;
    justify-content: center;
}

.browse__all {
    margin-top: 16px;
    background-color: #5E17EB;
    border: 2px solid #5E17EB;
    color: white;
    font-weight: 700;
    padding: 12px 24px;
    font-size: 20px;
    transition: all 300ms ease;
}

.browse__all:hover {
    border-color: #5E17EB;
    background-color: transparent;
    color: #5E17EB;
}

.search__course {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 90%;
    max-width: 1100px;
    padding: 0 20px;
    margin-top: 30px;
    font-size: 16px;
}

.title {
    font-size: 48px;
    min-width: 100px;
}

.btn__search {
    background-color: transparent;
    font-size: 30px;
    border: none;
    padding-bottom: 20px;
    cursor: pointer;
    position: relative;
    color: #5E17EB
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon:after {
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}


/* 

                                                                MODAL

*/

.modal__input,
textarea {
    width: 100%;
    background-color: #242424;
    color: white;
    outline: none;
    border: 3px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;
}

textarea {
    resize: vertical;
    height: 400px;
    margin-top: 8px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input:hover,
textarea:hover {
    border-color: #dcdfe6;
}

input:focus,
textarea:focus {
    border-color: #5E17EB;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 90%;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s ease;
}

.modal--open .modal {
    z-index: 60;
    visibility: visible;
}

.modal__half {
    width: 100%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease-in;
}

.modal--open .modal__contact {
    transform: translateX(0%);
}

.modal__contact {
    background-color: #242424;
    color: white;
    transform: translateX(110%);
}

.modal__title {
    font-size: 26px;
}

.modal__sub-title {
    margin: 12px 0 24px 0;
    font-size: 14px;
}

.form__item {
    margin-bottom: 20px;
}

.form__submit {
    background-color: #5E17EB;
    border: 2px solid #5E17EB;
    color: white;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 20px;
    transition: all 300ms ease;
}

.form__submit:hover {
    border-color: #5E17EB;
    background-color: transparent;
}

.form__submit:active {
    border-color: #5E17EB;
    color: #5E17EB;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.modal__overlay--loading {
    background-color: #242424;
    font-size: 80px;
}

.modal__overlay--success {
    background-color: #5E17EB;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 28px;
}

.fa-spinner {
    animation: spinner 750ms infinite linear;
}

.modal__overlay--visible {
    z-index: 1;
    display: flex;
}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 100;
}

.modal--open .nav__container,
.modal--open .container {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}

.nav__container,
.container {
    opacity: 1;
    visibility: visible;
    transition: all 400ms 500ms;
}


/* 

                                        TESTIMONIALS

*/

#testimonials {
    background-color: rgba(115, 66, 214, 0.1);
    padding: 48px 0;
    min-height: 100vh;
}

.section__description {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    max-height: 600px;
}

.testimonial__left {
    width: 40%;
    padding: 0 24px 0 48px;
    margin: 0 auto;
}

.testimonial__right {
    width: 60%;
    padding: 0 24px;
}

.section__description--header {
    font-size: 45px;
}

.section__description--para {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 24px;
    color: rgb(92, 91, 91);
}


/* 

                                            POPULAR

*/

.popular__container {
    background-color: rgba(115, 66, 214, 0.1);
    min-height: 100vh;
}


/* 

                                            FOOTER

*/

footer {
    background-color: #242424;
}

.footer__link,
.footer__copyright {
    color: #fff;
}

.footer__list,
.footer__copyright {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.footer__link {
    padding: 0 8px;
}


/* 

                                    Options

*/

#Options {
    background-color: rgba(115, 66, 214, 0.1);
    max-width: 1000vw;
    min-height: 100vh;
    /* CHANGE */
    padding-top: 6vw;
    padding-bottom: 2vw;
}

.options__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.option {
    padding: 10px 24px;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.option__subtitle {
    font-size: 24px;
}

.option__list {
    text-align: center;
    max-width: 280px;
    margin: 8px;
    color: gray;
    font-size: 20px;
}


/* 

                            OPTION

*/

.option__container {
    background-color: rgba(115, 66, 214, 0.1);
    max-height: 1100vh;
    min-height: 80vh;
    padding: 24px;
}


/* 

                            POST

*/

.posts {
    background-color: rgb(233, 226, 248);
    margin-top: 28px;
    margin-bottom: 28px;
    border-radius: 2px;
    max-width: 60%;
}

.post {
    display: flex;
    align-items: center;
    padding: 20px;
}

.icon-1 {
    height: 20px;
}

.userimg {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    object-fit: contain;
    padding: 4px;
    margin-right: 12px;
}

.p {
    flex: 1;
    font-weight: 700;
}

.post__img {
    object-fit: cover;
    width: 100%;
}

.post__btn {
    height: 28px;
    padding-right: 16px;
}

.post__btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 300ms ease-out;
}

.captions {
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caption__user {
    font-weight: 700;
    margin-right: 4px;
}

.post__form {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 16px;
}

.form__img {
    height: 28px;
    padding-right: 8px;
    padding-left: 4px;
}

.post__input {
    flex: 1
}

.post__button {
    font-weight: 500;
    border-style: none;
    background-color: rgba(233, 226, 248, 0.1);
    padding-left: 8px;
    padding-right: 8px;
}

.post__icon {
    width: 50px;
}

.add__review {
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}


/* 

                            SIGNIN PAGE

*/

.signin__container {
    background-color: rgba(115, 66, 214, 0.1);
    max-height: 1100vh;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signin__logo {
    margin-top: -250px;
    width: 350px;
}

.signin__btn {
    margin-top: -48px;
}


/* 

                            MODAL2

*/

.modal2 {
    height: 400px !important;
    max-width: 45% !important;
    position: absolute;
    top: 30%;
    left: 50%;
}

.modal--open .option__row {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}

.option__row {
    opacity: 1;
    visibility: visible;
    transition: all 400ms 500ms;
}

.modal2__input {
    height: 40px !important;
}

.form__items {
    padding-bottom: 16px;
    text-align: center;
}

.camera__icon {
    padding-top: 36px;
    padding-bottom: 36px;
}

.form__submit2 {
    margin-top: 16px;
}